{% load tests_extras %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="summary-div">
            В данной категории было опрошено <strong class="text-success">{{ results.count }}</strong> респондентов.
        </div>

        <div class="summary-div">
            <p><b>1. Из них по учебным заведениям:</b></p>
            {% for key, val in school_resp.items  %}
                {% if val > 0 %}
                    <a href="?school={{ key.id }}">{{ key }}</a> -
                    <b class="text-success">{{ val }}</b>
                    <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                    <br>
                {% endif %}
            {% endfor %}
        </div>

        <div class="summary-div">
            {% count_by_str results 'school_class' '8 9' as countall %}
            <p><b>2. Из них обучаются:</b></p>
            {% for key, value in countall.items %}
                {% if value > 0 %}
                    <a href="?class={{ key }}">В {{ key }} Классе</a> -
                    <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                    <br>
                {% endif %}
            {% endfor %}
        </div>

        <div class="summary-div">
            {% count_by_str results 'gender' 'male female' as countall %}
            <p><b>3. Пол:</b></p>
            {% for key, value in countall.items %}
                 {% if key == 'male' %}
                    Мужской - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;<br>
                {% elif key == 'female' %}
                    Женский - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;<br>
                {% endif %}
            {% endfor %}
        </div>



        <div class="summary-div">
            <p><b>4. Любимые учебные предметы:</b></p>
            {% for key, val in learn_subjects_resp.items  %}
                {{ key }} -
                <b class="text-success">{{ val }}</b>
                <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                <br>
            {% endfor %}
        </div>

        <div class="summary-div">
            <p><b>5. Углубленное изучение предметов:</b></p>
            {% for key, val in deep_learn_subjects_resp.items  %}
                {{ key }} -
                <b class="text-success">{{ val }}</b>
                <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                <br>
            {% endfor %}
        </div>

        <div class="summary-div">
            <p><b>6. Кружки, секции, муз. школа:</b></p>
            {% count_by_str results 'hobby' 'yes no' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Занимаются - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no' %}
                    Не занимаются - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_hobby')">Ответы респондентов</a>
                <div class="other-answers"></div>
            </div>
        </div>


        <div class="summary-div">
            <p><b>7. Выбор будующей профессии:</b></p>
            {% count_by_str results 'future_prof' 'yes addict not_think not_know_myself not_know_how_choose' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Да. Я выбрал(а) профессию - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'addict' %}
                    Пока сомневаюсь, но склоняюсь к... - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_think' %}
                    Нет - еще не задумывался над этим - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_know_myself' %}
                    Нет - плохо знаю свои способности - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_know_how_choose' %}
                    Нет - не знаю, как выбирать профессию - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_yes_future_prof')">Четко указанные профессии</a>
                <div class="other-answers"></div>
            </div>
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_addict_future_prof')">Профессии к которым склоняются</a>
                <div class="other-answers"></div>
            </div>
        </div>

        <div class="summary-div">
            <p><b>8. Критерии выбора будующей профессии:</b></p>
            {% for key, val in priority_prof_resp.items  %}
                {{ key }} -
                <b class="text-success">{{ val }}</b>
                <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_priority_prof')">Свой вариант</a>
                <div class="other-answers"></div>
            </div>
        </div>

        <div class="summary-div">
            <p><b>9. С кем обсуждал разные профессии:</b></p>
            {% for key, val in talk_about_prof_resp.items  %}
                {{ key }} -
                <b class="text-success">{{ val }}</b>
                <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_talk_about_prof')">Свой вариант</a>
                <div class="other-answers"></div>
            </div>
        </div>


        <div class="summary-div">
            <p><b>10. Нужна ли помощь в выборе профессии?</b></p>
            {% for key, val in help_prof_choice_resp.items  %}
                {{ key }} -
                <b class="text-success">{{ val }}</b>
                <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_help_prof_choice')">Свой вариант</a>
                <div class="other-answers"></div>
            </div>
        </div>


        <div class="summary-div">
            <p><b>11. Что планирует делать после 9-го класса:</b></p>
            {% count_by_str results 'after_nine_class' 'school college not_know' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'school' %}
                    Продолжить обучение в школе в 10-11 классах - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'college' %}
                    Уйти из школы, поступить в колледж, училище - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_know' %}
                    Я еще не определился в своих планах - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}

            {% count_others results 'after_nine_class' as count_others %}
            Свой вариант - <b class="text-success">{{ count_others }}</b>
            <span class="text-muted">({{ count_others|percent:results.count }} %)</span>;<br>

            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_after_nine_class')">Свой вариант</a>
                <div class="other-answers"></div>
            </div>
        </div>

        <div class="summary-div">
            <p><b>12. Выбрал ли уч. заведение для поступления?:</b></p>
            {% count_by_str results 'have_chosen_inst' 'one many not_know not' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'one' %}
                    Да, я выбрал(а) конкретное учебное заведение - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'many' %}
                    Я попробую поступать в несколько учебных заведений - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_know' %}
                    Я еще не выбрал(а) - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not' %}
                    Не выбрал, т.к. не собираюсь поступать в учебное заведение сразу после школы - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}

            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_one_have_chosen_inst')">Указали конкретные учебные заведения</a>
                <div class="other-answers"></div>
            </div>
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_many_have_chosen_inst')">Указали несколько учебных заведений</a>
                <div class="other-answers"></div>
            </div>
        </div>

        <div class="summary-div">
            <p><b>13. Выбрал ли направление подготовки?:</b></p>
            {% count_by_str results 'have_chosen_training' 'one many not_know not' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'one' %}
                     Да, я выбрал(а) конкретное направление подготовки/специальность - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'many' %}
                    Я попробую поступать на несколько направлений подготовки - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_know' %}
                    Я еще не выбрал(а) - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not' %}
                    Не выбрал, т.к. не собираюсь поступать в учебное заведение сразу после школы - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}

            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_one_have_chosen_training')">Указали конкретные направления подготовки</a>
                <div class="other-answers"></div>
            </div>
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_many_have_chosen_training')">Указали несколько направлений подготовки</a>
                <div class="other-answers"></div>
            </div>
        </div>

        <div class="summary-div">
            <p><b>14. Хотел бы учиться в УГТУ?:</b></p>
            {% count_by_str results 'if_you_want_ugtu' 'yes yes_but_do_not no not_know' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Да - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'yes_but_do_not' %}
                    Хотел бы, но не буду - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no' %}
                    Нет - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_know' %}
                    Не знаю - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_yes_if_you_want_ugtu')">Хотел бы, но не буду(причина)</a>
                <div class="other-answers"></div>
            </div>
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_no_if_you_want_ugtu')">Нет(причина)</a>
                <div class="other-answers"></div>
            </div>
        </div>

        <div class="summary-div">
            <p><b>15. Хотел бы посещать подготовительные курсы УГТУ?:</b></p>
            {% count_by_str results 'if_you_want_ugtu_training' 'yes no_money no already' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Да - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no_money' %}
                    Хотел(а) бы, но нет возможности, т.к. курсы платные - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no' %}
                    Нет - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'already' %}
                    Уже посещаю - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, '{{ request.GET.class }}', '{{ request.GET.school }}', '{{ group }}', 'text_if_you_want_ugtu_training')">По каким предметам</a>
                <div class="other-answers"></div>
            </div>
        </div>

        <div class="summary-div">
            <p><b>16. Таблица интересов респонденов:</b></p>
            <div class="table-interests">
                <table>
                    <tr>
                        <th>
                            Область интересов
                        </th>
                        <th>
                            Отношение
                        </th>
                    </tr>

                    {%  for interest in interests_resp %}
                        <tr>
                            <td>
                                {{ interest.name }}
                            </td>
                            <td>
                                Да - <span class="text-success">{{ interest.tr }}</span>
                                <span class="text-muted">({{ interest.tr|percent:results.count }} %)</span>
                                <br>
                                Нет - <span class="text-danger">{{ interest.fl }}</span>
                                <span class="text-muted">({{ interest.fl|percent:results.count }} %)</span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <div class="summary-div">
            <p><b>17. Контактные данные для рассылки:</b></p>
            <div class="table-interests">
                <table>
                    <tr>
                        <th>
                            Фамилия
                        </th>
                        <th>
                            Имя
                        </th>
                        <th>
                            Отчество
                        </th>
                        <th>
                            Телефон
                        </th>
                        <th>
                            E-mail
                        </th>
                    </tr>

                    {%  for contact in contacts.all %}
                        <tr>
                            <td>
                                {{ contact.last_name }}
                            </td>
                            <td>
                                {{ contact.first_name }}
                            </td>
                            <td>
                                {{ contact.middle_name }}
                            </td>
                            <td>
                                {{ contact.phone }}
                            </td>
                            <td>
                                {{ contact.email }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>