{% load tests_extras %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <div class="summary-div">
            В данной категории было опрошенно <strong class="text-success text-st">{{ results.count }}</strong> респондентов.
        </div>

        <div class="summary-div">
            <p><b>1. Из них по учебным заведениям:</b></p>
                {% for key, val in school_resp.items  %}
                    {% if val > 0 %}
                        <a href="?school={{ key.id }}">{{ key }}</a> -

                        <b class="text-success">{{ val }}</b>
                        <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                        <br>
                    {% endif %}
                {% endfor %}
        </div>

        <div class="summary-div">
            {% count_by_str results 'school_class' '5 6 7' as countall %}
            <p><b>2. Из них обучаются:</b></p>
            {% for key, value in countall.items %}
                {% if value > 0 %}
                    <a href="?class={{ key }}">В {{ key }} Классе</a> -
                    <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                    <br>
                {% endif %}
            {% endfor %}
        </div>

        <div class="summary-div">
            <p><b>3. Мечтают стать по профессии:</b></p>
            {% sum_same_items results 'dream_prof' as dict %}
            {% for key, value in dict.items %}
                {% if key != 'nothing' %}
                    {{ key }} -  <b class="text-success">{{ value }}</b><br>
                {% endif %}
            {% endfor %}
            <span class="text-muted">Еще не определился - <b class="text-success">{{ dict.nothing }}</b></span>
            <span class="text-muted">({{ dict.nothing|percent:results.count }} %)</span>;<br>
        </div>

        <div class="summary-div">
            <p><b>4. Любимые учебные предметы:</b></p>
            {% for key, val in learn_subjects_resp.items  %}
                    {{ key }} -
                    <b class="text-success">{{ val }}</b>
                    <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                    <br>
            {% endfor %}
        </div>

        <div class="summary-div">
            <p><b>5. Углубленное изучение предметов:</b></p>
            {% for key, val in deep_learn_subjects_resp.items  %}
                {{ key }} -
                <b class="text-success">{{ val }}</b>
                <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                <br>
            {% endfor %}
        </div>

        <div class="summary-div">
            <p><b>6. Кружки, секции, муз. школа:</b></p>
            {% count_by_str results 'hobby' 'yes no' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Занимаются - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no' %}
                    Не занимаются - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
            <br>
            <a onclick="ViewOtherAnswers(this, 'junior', 'text_hobby')">Ответы респондентов</a>
            <div class="other-answers"></div>
        </div>

        <div class="summary-div">
            <p><b>7. Что такое университет:</b></p>
            {% count_by_str results 'what_is_university' 'yes no' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Знают - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no' %}
                    Не знают - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
            <br>
            <a onclick="ViewOtherAnswers(this, 'junior', 'text_what_is_university')">Ответы респондентов</a>
            <div class="other-answers"></div>
        </div>

        <div class="summary-div">
            <p><b>8. Знает ли об университете в г. Ухта:</b></p>
            {% count_by_str results 'know_university_in_city' 'yes no' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Знают - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no' %}
                    Не знают - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
        </div>

        <div class="summary-div">
            <p><b>9. Откуда узнали об университете в г. Ухта:</b></p>
            {% for key, val in how_did_you_know_resp.items  %}
                {{ key }} -
                <b class="text-success">{{ val }}</b>
                <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                <br>
            {% endfor %}
            <br>
            <a onclick="ViewOtherAnswers(this, 'junior', 'text_how_did_you_know')">Ответы респондентов</a>
            <div class="other-answers"></div>
        </div>

        <div class="summary-div">
            <p><b>10. Есть ли знакомые учащиеся в УГТУ?:</b></p>
            {% count_by_str results 'you_friends_in_ugtu' 'yes no not_know' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Да - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no' %}
                    Нет - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_know' %}
                    Не знаю - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
        </div>

        <div class="summary-div">
            <p><b>11. Хотел бы учиться в УГТУ?:</b></p>
            {% count_by_str results 'if_you_want_ugtu' 'yes yes_but_do_not no not_know' as countall %}
            {% for key, value in countall.items %}
                {% if key == 'yes' %}
                    Да - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'yes_but_do_not' %}
                    Хотел бы, но не буду - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'no' %}
                    Нет - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% elif key == 'not_know' %}
                    Не знаю - <b class="text-success">{{ value }}</b>
                    <span class="text-muted">({{ value|percent:results.count }} %)</span>;
                {% endif %}
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, 'junior', 'text_yes_if_you_want_ugtu')">Хотел бы, но не буду(причина)</a>
                <div class="other-answers"></div>
            </div>
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, 'junior', 'text_no_if_you_want_ugtu')">Нет(причина)</a>
                <div class="other-answers"></div>
            </div>
        </div>

        <div class="summary-div">
            <p><b>12. С кем обсуждал разные профессии:</b></p>
            {% for key, val in talk_about_prof_resp.items  %}
                {{ key }} -
                <b class="text-success">{{ val }}</b>
                <span class="text-muted">({{ val|percent:results.count }} %)</span>;
                <br>
            {% endfor %}
            <div>
                <br>
                <a onclick="ViewOtherAnswers(this, 'junior', 'text_talk_about_prof')">Свой вариант</a>
                <div class="other-answers"></div>
            </div>
        </div>
    </div>
</div>